<div class="app">
  <div class="layout">

    <div class="page-container">


      <!-- Content Wrapper START -->
      <div class="main-content">
        <div class="page-header no-gutters has-tab">
          <h2 class="font-weight-normal">Reset Password</h2>

        </div>
        <div class="container">

          <div class="card">

            <!-- Calnder -->
            <!-- Ends here -->
            <div class="card-body">
              <div class="row">

              </div>
              <form>
                <div class="form-row main-custom">
                  <div class="form-group col-md-8">

                    <label class="font-weight-semibold" for="locat">Current Password</label>
                    <input class="form-control" id="loc" [(ngModel)]="currentpassword" [ngModelOptions]="{standalone: true}"  placeholder="Enter Current Password">

                  </div>

                 
                  
                  <div class="form-group col-md-8">

                    <label class="font-weight-semibold" for="locat">New Password</label>
                    <input class="form-control" id="cou" [(ngModel)]="newpassword" [ngModelOptions]="{standalone: true}"  placeholder="Enter New Passsword">

                  </div>
                  <div class="form-group col-md-8">

                    <label class="font-weight-semibold" for="locat">Confirm New Password</label>
                    <input type="password"  class="form-control" id="spec" [(ngModel)]="confirmpassword" [ngModelOptions]="{standalone: true}"  placeholder="Confirm Password">

                  </div>


                </div>
                <input type="button" class="btn btn-warning m-r-5" value="{{ButtonText}}" style="cursor:pointer" (click)="onSubmit();">
                <input type="button" class="btn btn-warning m-r-5" value="Reset" style="cursor:pointer" (click)="onClear();">






              </form>
              
            </div>
          </div>
        </div>
      </div>


    </div>





  </div>
</div>

