<div class="app">
  <div class="layout">

    <!-- Side Nav START -->
    <div class="side-nav">
      <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
              <span class="icon-holder">
                <i class="anticon anticon-dashboard"></i>
              </span>
              <span class="title">Dashboard</span>
              <span class="arrow">
                <i class="arrow-icon"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="index.html">Default</a>
              </li>
              <li>
                <a href="index-crm.html">CRM</a>
              </li>
              <li>
                <a href="index-e-commerce.html">E-commerce</a>
              </li>
              <li>
                <a href="index-projects.html">Projects</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
              <span class="icon-holder">
                <i class="anticon anticon-appstore"></i>
              </span>
              <span class="title">Apps</span>
              <span class="arrow">
                <i class="arrow-icon"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="app-chat.html">Chat</a>
              </li>
              <li>
                <a href="app-file-manager.html">File Manager</a>
              </li>
              <li>
                <a href="app-mail.html">Mail</a>
              </li>
              <li class="nav-item dropdown">
                <a href="javascript:void(0);">
                  <span>Projects</span>
                  <span class="arrow">
                    <i class="arrow-icon"></i>
                  </span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="app-project-list.html">Project List</a>
                  </li>
                  <li>
                    <a href="app-project-details.html">Project Details</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a href="javascript:void(0);">
                  <span>E-commerce</span>
                  <span class="arrow">
                    <i class="arrow-icon"></i>
                  </span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="app-e-commerce-order-list.html">Orders List</a>
                  </li>
                  <li>
                    <a href="app-e-commerce-products.html">Products</a>
                  </li>
                  <li>
                    <a href="app-e-commerce-products-list.html">Products List</a>
                  </li>
                  <li>
                    <a href="app-e-commerce-products-edit.html">Products Edit</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
              <span class="icon-holder">
                <i class="anticon anticon-build"></i>
              </span>
              <span class="title">UI Elements</span>
              <span class="arrow">
                <i class="arrow-icon"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="avatar.html">Avatar</a>
              </li>
              <li>
                <a href="alert.html">Alert</a>
              </li>
              <li>
                <a href="badge.html">Badge</a>
              </li>
              <li>
                <a href="buttons.html">Buttons</a>
              </li>
              <li>
                <a href="cards.html">Cards</a>
              </li>
              <li>
                <a href="icons.html">Icons</a>
              </li>
              <li>
                <a href="lists.html">Lists</a>
              </li>
              <li>
                <a href="typography.html">Typography</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
              <span class="icon-holder">
                <i class="anticon anticon-hdd"></i>
              </span>
              <span class="title">Components</span>
              <span class="arrow">
                <i class="arrow-icon"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="accordion.html">Accordion</a>
              </li>
              <li>
                <a href="carousel.html">Carousel</a>
              </li>
              <li>
                <a href="dropdown.html">Dropdown</a>
              </li>
              <li>
                <a href="modals.html">Modals</a>
              </li>
              <li>
                <a href="toasts.html">Toasts</a>
              </li>
              <li>
                <a href="popover.html">Popover</a>
              </li>
              <li>
                <a href="slider-progress.html">Slider & Progress</a>
              </li>
              <li>
                <a href="tabs.html">Tabs</a>
              </li>
              <li>
                <a href="tooltips.html">Tooltips</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
              <span class="icon-holder">
                <i class="anticon anticon-form"></i>
              </span>
              <span class="title">Forms</span>
              <span class="arrow">
                <i class="arrow-icon"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="form-elements.html">Form Elements</a>
              </li>
              <li>
                <a href="form-layouts.html">Form Layouts</a>
              </li>
              <li>
                <a href="form-validation.html">Form Validation</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
              <span class="icon-holder">
                <i class="anticon anticon-table"></i>
              </span>
              <span class="title">Tables</span>
              <span class="arrow">
                <i class="arrow-icon"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="basic-table.html">Basic Table</a>
              </li>
              <li>
                <a href="data-table.html">Data Table</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
              <span class="icon-holder">
                <i class="anticon anticon-pie-chart"></i>
              </span>
              <span class="title">Charts</span>
              <span class="arrow">
                <i class="arrow-icon"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="chartist.html">Chartist</a>
              </li>
              <li>
                <a href="chartjs.html">ChartJs</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown open">
            <a class="dropdown-toggle" href="javascript:void(0);">
              <span class="icon-holder">
                <i class="anticon anticon-file"></i>
              </span>
              <span class="title">Pages</span>
              <span class="arrow">
                <i class="arrow-icon"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="profile.html">Profile</a>
              </li>
              <li>
                <a href="invoice.html">Invoice</a>
              </li>
              <li>
                <a href="members.html">Members</a>
              </li>
              <li>
                <a href="pricing.html">Pricing</a>
              </li>
              <li class="active">
                <a href="setting.html">Setting</a>
              </li>
              <li class="nav-item dropdown">
                <a href="javascript:void(0);">
                  <span>Blog</span>
                  <span class="arrow">
                    <i class="arrow-icon"></i>
                  </span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="blog-grid.html">Blog Grid</a>
                  </li>
                  <li>
                    <a href="blog-list.html">Blog List</a>
                  </li>
                  <li>
                    <a href="blog-post.html">Blog Post</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
              <span class="icon-holder">
                <i class="anticon anticon-lock"></i>
              </span>
              <span class="title">Authentication</span>
              <span class="arrow">
                <i class="arrow-icon"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="login-1.html">Login 1</a>
              </li>
              <li>
                <a href="login-2.html">Login 2</a>
              </li>
              <li>
                <a href="login-3.html">Login 3</a>
              </li>
              <li>
                <a href="sign-up-1.html">Sign Up 1</a>
              </li>
              <li>
                <a href="sign-up-2.html">Sign Up 2</a>
              </li>
              <li>
                <a href="sign-up-3.html">Sign Up 3</a>
              </li>
              <li>
                <a href="error-1.html">Error 1</a>
              </li>
              <li>
                <a href="error-2.html">Error 2</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>


    <!-- Page Container START -->
    <div class="page-container">


      <!-- Content Wrapper START -->
      <div class="main-content">
        <div class="page-header no-gutters has-tab">
          <h2 class="font-weight-normal">Sample SOP</h2>

        </div>
        <div class="container">

          <div class="card">

            <!-- Calnder -->
            <!-- Ends here -->
            <div class="card-body">

              <form>
                <div class="form-row main-custom">
                  <div class="form-group col-md-4">
                    <div class="bg-color">
                      <label class="font-weight-semibold">Select Interest Area</label>
                      <ul class="list_brdr">
                        <span class="checkAll">
                          <li>
                            <input type="checkbox"
                                   name="IntrestSelected"
                                   id="select-all3"
                                   [(ngModel)]="AllIntrest"
                                   (change)="SelectAllIntrest();"
                                   [ngModelOptions]="{standalone: true}">&nbsp;Select All Interests
                          </li>
                        </span>
                        <span class="all_lists">
                          <li *ngFor="let Intrest of IntrestData">
                            <input type="checkbox"
                                   class="city_check"
                                   name="IntrestSelected"
                                   value="{{ Intrest.intrestid }}"
                                   [(ngModel)]="Intrest.selected"
                                   (change)="getSelectedIntrest();"
                                   [ngModelOptions]="{standalone: true}">{{ Intrest.intrestname }}
                          </li>
                        </span>
                      </ul>
                    </div>
                  </div>




                  <div class="form-group col-md-4">
                    <label class="font-weight-semibold" for="dob">Title</label>
                    <input type="text" class="form-control" id="etitle" [(ngModel)]="soptitle" [ngModelOptions]="{standalone: true}" placeholder="Enter Title">

                  </div>

                  <div class="form-group col-md-12">
                    <label class="font-weight-semibold" for="dob">Description</label>
                    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="description" height="400px" name="first"></angular-editor>
                    <!--<textarea class="main-area" rows="4" cols="45" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>-->


                  </div>





                </div>
                <input type="button" class="btn btn-warning m-r-5" value="{{ButtonText}}" style="cursor:pointer" (click)="onSave();">
                <input type="button" class="btn btn-warning m-r-5" value="Reset" style="cursor:pointer" (click)="onClear();">
                <div class="row">
                  <div class="form-group col-md-4">

                  </div>
                  <div class="form-group col-md-4">
                  </div>

                  <div class="form-group col-md-4 search-box pull-right">

                    <input type="text" class="form-control" id="trt" [(ngModel)]="search" [ngModelOptions]="{standalone: true}" placeholder="Search">

                  </div>
                </div>

              </form>
              <div class="m-t-25">
                <div class="table-responsive">
                  <table id="data-table" class="table">
                    <thead>
                      <tr>
                        <th>SNo.</th>
                        <!--<th id="customers" style="align-content:center" *ngFor="let header of HeaderData;let i=index;">{{header}}</th>-->


                        <th>Interest Area</th>

                        <th>Title</th>

                        <th>Desription</th>
                        <th>Edit</th>
                        <th>Delete</th>

                    </thead>
                    <tbody>
                      <tr *ngFor="let data of GetSaveData|searchsummerschoolfilter:search;let i = index" style="align-content:center">
                        <td>{{i+1}}</td>
                        <!--<td id="customers" *ngFor="let header of HeaderData" style="align-content:center">{{data[header]}}</td>-->

                        <td>{{data.intrestname}}</td>

                        <td>{{data.title}}</td>

                        <td>{{data.description}}</td>



                        <td><span><a class="fa fa-edit" style="font-size:22px;cursor:pointer;align-content:center" (click)="EditData(i,data['samplesopid']);"></a></span></td>
                        <td><span><a class="fa fa-trash" style="font-size:22px;cursor:pointer;align-content:center" (click)="DeleteData(i,data['samplesopid']);"></a></span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Content Wrapper END -->
      <footer class="footer">
        <div class="footer-content">
          <p class="m-b-0">Copyright © 2019 Theme_Nate. All rights reserved.</p>
          <span>
            <a href="#" class="text-gray m-r-15">Term &amp; Conditions</a>
            <a href="#" class="text-gray">Privacy &amp; Policy</a>
          </span>
        </div>
      </footer>
      <!-- Footer END -->

    </div>
    <!-- Page Container END -->
    <!-- Search Start-->
    <div class="modal modal-left fade search" id="search-drawer">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-between align-items-center">
            <h5 class="modal-title">Search</h5>
            <button type="button" class="close" data-dismiss="modal">
              <i class="anticon anticon-close"></i>
            </button>
          </div>
          <div class="modal-body scrollable">
            <div class="input-affix">
              <i class="prefix-icon anticon anticon-search"></i>
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <div class="m-t-30">
              <h5 class="m-b-20">Files</h5>
              <div class="d-flex m-b-30">
                <div class="avatar avatar-cyan avatar-icon">
                  <i class="anticon anticon-file-excel"></i>
                </div>
                <div class="m-l-15">
                  <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Quater Report.exl</a>
                  <p class="m-b-0 text-muted font-size-13">by Finance</p>
                </div>
              </div>
              <div class="d-flex m-b-30">
                <div class="avatar avatar-blue avatar-icon">
                  <i class="anticon anticon-file-word"></i>
                </div>
                <div class="m-l-15">
                  <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Documentaion.docx</a>
                  <p class="m-b-0 text-muted font-size-13">by Developers</p>
                </div>
              </div>
              <div class="d-flex m-b-30">
                <div class="avatar avatar-purple avatar-icon">
                  <i class="anticon anticon-file-text"></i>
                </div>
                <div class="m-l-15">
                  <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Recipe.txt</a>
                  <p class="m-b-0 text-muted font-size-13">by The Chef</p>
                </div>
              </div>
              <div class="d-flex m-b-30">
                <div class="avatar avatar-red avatar-icon">
                  <i class="anticon anticon-file-pdf"></i>
                </div>
                <div class="m-l-15">
                  <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Project Requirement.pdf</a>
                  <p class="m-b-0 text-muted font-size-13">by Project Manager</p>
                </div>
              </div>
            </div>
            <div class="m-t-30">
              <h5 class="m-b-20">Members</h5>
              <div class="d-flex m-b-30">
                <div class="avatar avatar-image">

                  <img src="../../../../assets/statichtml/images/avatars/thumb-1.jpg" alt="" />
                  <!--<img src="assets/images/avatars/thumb-1.jpg" alt="">-->
                </div>
                <div class="m-l-15">
                  <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Erin Gonzales</a>
                  <p class="m-b-0 text-muted font-size-13">UI/UX Designer</p>
                </div>
              </div>
              <div class="d-flex m-b-30">
                <div class="avatar avatar-image">

                  <img src="../../../../assets/statichtml/images/avatars/thumb-2.jpg" alt="" />
                  <!--<img src="assets/images/avatars/thumb-2.jpg" alt="">-->
                </div>
                <div class="m-l-15">
                  <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Darryl Day</a>
                  <p class="m-b-0 text-muted font-size-13">Software Engineer</p>
                </div>
              </div>
              <div class="d-flex m-b-30">
                <div class="avatar avatar-image">
                  <img src="../../../../assets/statichtml/images/avatars/thumb-3.jpg" alt="" />

                  <!--<img src="assets/images/avatars/thumb-3.jpg" alt="">-->
                </div>
                <div class="m-l-15">
                  <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Marshall Nichols</a>
                  <p class="m-b-0 text-muted font-size-13">Data Analyst</p>
                </div>
              </div>
            </div>
            <div class="m-t-30">
              <h5 class="m-b-20">News</h5>
              <div class="d-flex m-b-30">
                <div class="avatar avatar-image">
                  <!--<img src="assets/images/others/img-1.jpg" alt="">-->
                </div>
                <div class="m-l-15">
                  <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">5 Best Handwriting Fonts</a>
                  <p class="m-b-0 text-muted font-size-13">
                    <i class="anticon anticon-clock-circle"></i>
                    <span class="m-l-5">25 Nov 2018</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Search End-->
    <!-- Quick View START -->
    <div class="modal modal-right fade quick-view" id="quick-view">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-between align-items-center">
            <h5 class="modal-title">Theme Config</h5>
          </div>
          <div class="modal-body scrollable">
            <div class="m-b-30">
              <h5 class="m-b-0">Header Color</h5>
              <p>Config header background color</p>
              <div class="theme-configurator d-flex m-t-10">
                <div class="radio">
                  <input id="header-default" name="header-theme" type="radio" checked value="default">
                  <label for="header-default"></label>
                </div>
                <div class="radio">
                  <input id="header-primary" name="header-theme" type="radio" value="primary">
                  <label for="header-primary"></label>
                </div>
                <div class="radio">
                  <input id="header-success" name="header-theme" type="radio" value="success">
                  <label for="header-success"></label>
                </div>
                <div class="radio">
                  <input id="header-secondary" name="header-theme" type="radio" value="secondary">
                  <label for="header-secondary"></label>
                </div>
                <div class="radio">
                  <input id="header-danger" name="header-theme" type="radio" value="danger">
                  <label for="header-danger"></label>
                </div>
              </div>
            </div>
            <hr>
            <div>
              <h5 class="m-b-0">Side Nav Dark</h5>
              <p>Change Side Nav to dark</p>
              <div class="switch d-inline">
                <input type="checkbox" name="side-nav-theme-toogle" id="side-nav-theme-toogle">
                <label for="side-nav-theme-toogle"></label>
              </div>
            </div>
            <hr>
            <div>
              <h5 class="m-b-0">Folded Menu</h5>
              <p>Toggle Folded Menu</p>
              <div class="switch d-inline">
                <input type="checkbox" name="side-nav-fold-toogle" id="side-nav-fold-toogle">
                <label for="side-nav-fold-toogle"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Quick View END -->
    <!-- video modal pop up start-->
    <!--<div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="top-image" [innerHTML]="yt | safe:'html'"></div>

          <br>

          <div #myDiv></div>


          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>-->
    <!-- video modal pop up ends -->

  </div>
</div>




