<div class="page-container">
  <div class="main-content">
    <div class="page-header no-gutters has-tab">
      <h2 class="font-weight-normal">Paid Feature</h2>
    </div>


    <div class="card">

      <div class="card-body">

        <form>
          <div class="form-row main-custom">
            <div class="form-group col-md-4">
              <label class="font-weight-semibold">Select Category</label>
              <select id="City" class="form-control" [(ngModel)]="selectedcategory" [ngModelOptions]="{standalone: true}">
                <option value="0">--Selec--</option>
                <option *ngFor="let Category of CategoryData" value="{{Category.productid}}">
                  {{Category.productname}}
                </option>
              </select>

            </div>
            <div class="form-group col-md-4">
              <label class="font-weight-semibold" for="fees">Fees</label>
              <input type="text" class="form-control" id="fee" [(ngModel)]="fees" [ngModelOptions]="{standalone: true}" placeholder="Enter Fees">
            </div>
            <div class="form-group col-md-4">
              <label class="font-weight-semibold" for="fees">GST</label>
              <input type="text" class="form-control" id="fee" [(ngModel)]="gst" [ngModelOptions]="{standalone: true}" placeholder="Enter Fees">
            </div>
            <div class="form-group col-md-4">
              <label class="font-weight-semibold" for="fees">Convinence Fees</label>
              <input type="text" class="form-control" id="fee" [(ngModel)]="convfees" [ngModelOptions]="{standalone: true}" placeholder="Enter Fees">
            </div>
            <div class="form-group col-md-4">
              <label class="font-weight-semibold" for="fees">Video</label>
              <input type="text" class="form-control" id="fee" [(ngModel)]="link" [ngModelOptions]="{standalone: true}" placeholder="Enter Fees">
            </div>
            <div class="form-group col-md-4">
              <label class="font-weight-semibold" for="language">Upload Photo</label>


              <input #inputfile type="File" class="form-control" id="Image" [(ngModel)]="selectedimage" name="img" placeholder="Upload Photo" (change)="GetPhotoDetail($event)">
            </div>


            <div class="form-row">
              <div class="form-group col-md-12">
                <label class="font-weight-semibold" for="phoneNumber">Description</label>
                <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="description" height="400px" name="first"></angular-editor>

              </div>
            </div>

            </div>
          <div class="form-row">
            <label class="font-weight-semibold" for="phoneNumber">Testimonials</label>
            <div class="form-group col-md-2">
              <div class="form-group">
                <div class="checkbox">
                  <input id="gridCheck1" type="checkbox" style="cursor:pointer" [(ngModel)]="IsParent" [ngModelOptions]="{standalone: true}" (change)="onChangeOfCheckBox()">
                  <label for="gridCheck1">Parents</label>
                </div>
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="form-group">
                <div class="checkbox">
                  <input id="gridCheck2" type="checkbox" style="cursor:pointer" [(ngModel)]="IsStudent" [ngModelOptions]="{standalone: true}" (change)="onChangeOfCheckBox1()">
                  <label for="gridCheck2">Student</label>
                </div>
              </div>
            </div>
          </div>


        </form>
      </div>




      <div class="card-body">
        <form>
          <div class="form-row" *ngIf="ShowDiv==1">

            <div class="form-group col-md-4">
              <label class="font-weight-semibold" for="fees">Name</label>
              <input type="text" class="form-control" id="fee" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="Enter Name">
            </div>

            <div class="form-group col-md-4">
              <label class="font-weight-semibold" for="fees">School</label>
              <input type="text" class="form-control" id="fee" [(ngModel)]="school" [ngModelOptions]="{standalone: true}" placeholder="Enter School">
            </div>

            <div class="form-group col-md-4">
              <label class="font-weight-semibold">Select Class</label>
              <select id="City" class="form-control" [(ngModel)]="selectedclass"  [ngModelOptions]="{standalone: true}">
                <option value="0">--All--</option>
                <option *ngFor="let class of ClassData" value="{{class.class_id}}">
                  {{class.class_name}}
                </option>
              </select>



            </div>

            <div class="form-group col-md-4">
              <label class="font-weight-semibold">Select Stream</label>
              <select id="City" class="form-control" [(ngModel)]="selectedstream"  [ngModelOptions]="{standalone: true}">
                <option value="0">--Select Stream--</option>
                <option *ngFor="let stream of StreamData" value="{{stream.Stream_Id}}">
                  {{stream.Stream_Name}}
                </option>
              </select>



            </div>
            <div class="form-group col-md-4">
              <label class="font-weight-semibold" for="fees">Video</label>
              <input type="text" class="form-control" id="fee" [(ngModel)]="video" [ngModelOptions]="{standalone: true}" placeholder="Enter Link">
            </div>
            <div class="form-group col-md-4">
              <label class="font-weight-semibold" for="language">Upload Photo</label>


              <input #inputfile1 type="File" class="form-control" id="Image" [(ngModel)]="selectedphoto" name="img" placeholder="Upload Photo" (change)="GetPhoto_Detail($event)">
            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <label class="font-weight-semibold" for="phoneNumber">Description</label>
                <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="testimonials" height="400px" name="first"></angular-editor>

              </div>
            </div>




          </div>

          



          <input type="button" class="btn btn-warning m-r-5" value="{{ButtonText}}" style="cursor:pointer" (click)="onSubmit();">
          <input type="button" class="btn btn-warning m-r-5" value="Reset" style="cursor:pointer" (click)="onClear();">
        </form><br>

        <!--Dynamic table bind-->
               <div class="m-t-25">
                 <div class="table-responsive">
                   <table id="data-table" class="table">
                     <thead>
                       <tr>
                         <th>SNo.</th>

                         <!--<th id="customers" style="align-content:center" *ngFor="let header of HeaderData;let i=index;">{{header}}</th>-->
                         <th>Interest Area</th>
                         <th>Country</th>
                         <th>State</th>
                         <th>City</th>
                         <th>University</th>
                         <th>Topic</th>
                         <th>Description</th>
                         <th>Link</th>

                         <th>Start Date</th>

                         <th>End Date</th>
                         <th>Duration</th>
                         <th>Fees</th>

                         <th>Edit</th>
                         <th>Delete</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr *ngFor="let data of GetSaveData;let i = index" style="align-content:center">
                         <td>{{i+1}}</td>

                         <!--<td id="customers" *ngFor="let header of HeaderData" style="align-content:center">{{data[header]}}</td>-->
                         <td>{{data.repositoryid}}</td>
                         <td>{{data.countryname}}</td>
                         <td>{{data.location}}</td>
                         <td>{{data.cityname}}</td>
                         <td>{{data.univercityname}}</td>
                         <td>{{data.topic}}</td>
                         <td><p style="width:300px">{{data.description}}</p></td>
                         <td>{{data.link}}</td>
                         <td>{{data.startdate}}</td>
                         <td>{{data.enddate}}</td>
                         <td>{{data.duration}}</td>
                         <td>{{data.fees}}</td>



                         <td><span><a class="fa fa-edit" style="font-size:22px;cursor:pointer;align-content:center" (click)="EditData(i,data['schoolid']);"></a></span></td>
                         <td><span><a class="fa fa-trash" style="font-size:22px;cursor:pointer;align-content:center" (click)="DeleteData(i,data['schoolid']);"></a></span></td>
                       </tr>
                     </tbody>
                   </table>

               

                 </div>
               </div>
      


      </div>
    </div>
  </div>
</div>






