<div class="page-container">
  <div class="main-content">
    <div class="page-header no-gutters has-tab">
      <h2 class="font-weight-normal">State Master</h2>
    </div>


    <div class="card">

      <div class="card-body">

        <form>


          <div class="form-row main-custom">
            <!--<div class="form-group col-md-4">
    <label class="font-weight-semibold" for="fees">College Name</label>
    <input type="text" class="form-control" id="fee" [(ngModel)]="collegename" [ngModelOptions]="{standalone: true}" placeholder="Enter College Name">
  </div>-->
            <div class="form-group col-md-4">
              <label class="font-weight-semibold" for="cou">Select Country</label>
              <select id="Stream" class="form-control" [(ngModel)]="selectedcountry" [ngModelOptions]="{standalone: true}">
                <option value="0" selected>--Select Country--</option>
                <option *ngFor="let country of CountryData" value={{country.countryid}}>
                  {{country.countryname}}
                </option>
              </select>
            </div>




            <div class="form-group col-md-4">

              <label class="font-weight-semibold" for="locat">State Name</label>
              <input type="text" class="form-control" id="loc" [(ngModel)]="statename" [ngModelOptions]="{standalone: true}" placeholder="Enter City Name">

            </div>



            <div class="form-group col-md-4">
              <label class="font-weight-semibold" for="language">Choose File</label>
              <input #inputfile type="File" class="form-control" id="Image" [(ngModel)]="SelectedImage" name="img" placeholder="Upload Pdf" (change)="incomingfile($event)" accept=".xlsx">




            </div>





          </div>

        </form>
      </div>




      <div class="card-body">
        <form>


          <input type="button" class="btn btn-warning m-r-5" value="{{ButtonText}}" style="cursor:pointer" (click)="onSubmit();">
          <input type="button" class="btn btn-warning m-r-5" value="Reset" style="cursor:pointer" (click)="onClear();">
          <input type="button" class="btn btn-warning m-r-5" value="Upload" style="cursor:pointer" (click)="Uploadexcel();">
          <a href="{{dw}}" download>Download Sample Sheet</a>
        </form><br>

        <!--Dynamic table bind-->
        <div class="m-t-25">
          <div class="table-responsive">
            <table id="data-table" class="table">
              <thead>
                <tr>
                  <th>SNo.</th>
                  <th>country</th>
                  <!--<th id="customers" style="align-content:center" *ngFor="let header of HeaderData;let i=index;">{{header}}</th>-->
                  <th>State</th>


                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of GetSaveData;let i = index" style="align-content:center">
                  <td>{{i+1}}</td>
                  <td>{{data.country}}</td>
                  <td>{{data.state}}</td>




                  <!--<td id="customers" *ngFor="let header of HeaderData" style="align-content:center">{{data[header]}}</td>-->
                  <td><span><a class="fa fa-edit" style="font-size:22px;cursor:pointer;align-content:center" (click)="EditData(i,data['locationid']);"></a></span></td>
                  <td><span><a class="fa fa-trash" style="font-size:22px;cursor:pointer;align-content:center" (click)="DeleteData(i,data['locationid']);"></a></span></td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>

