<div class="app">
  <div class="layout">



    <!-- Page Container START -->
    <div class="page-container">


      <!-- Content Wrapper START -->
      <div class="main-content">
        <div class="page-header no-gutters has-tab">
          <h2 class="font-weight-normal">Professional Help Master</h2>

        </div>
        <div class="container">

          <div class="card">

            <!-- Calnder -->
            <!-- Ends here -->
            <div class="card-body">

              <form>
                <div class="form-row">




                  <div class="form-group col-md-12">
                    <label class="font-weight-semibold" for="dob">Testimonial</label>
                    <!--<input type="text" class="form-control" id="Testimonial" [(ngModel)]="testimonial" [ngModelOptions]="{standalone: true}" placeholder="Enter testimonial">-->
                    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="testimonial" name="first"></angular-editor>
                  </div>
                  <div class="form-group col-md-4">
                    <label class="font-weight-semibold" for="dob">Name</label>
                    <input type="text" class="form-control" id="videolnk" [(ngModel)]="profname" [ngModelOptions]="{standalone: true}" placeholder="Enter Name">
                  </div>

                  <div class="form-group col-md-3">
                    <label class="font-weight-semibold" for="language">Upload Image</label>

                    <input #inputfile type="File" class="form-control" id="Image" [(ngModel)]="SelectedImage" name="img" placeholder="Upload Image" (change)="GetImageDetail($event)">
                  </div>




                </div>
                <input type="button" class="btn btn-warning m-r-5" value="{{ButtonText}}" style="cursor:pointer" (click)="onSave();">
                <input type="button" class="btn btn-warning m-r-5" value="Reset" style="cursor:pointer" (click)="onClear();">

              </form>
              <div class="m-t-25">
                <div class="table-responsive">
                  <table id="data-table" class="table">
                    <thead>
                      <tr>
                        <th>SNo.</th>
                        <!--<th id="customers" style="align-content:center" *ngFor="let header of HeaderData;let i=index;">{{header}}</th>-->

                        <th>Name</th>
                        <th>Testimonial</th>
                        <th>Image</th>

                        <th>Edit</th>
                        <th>Delete</th>

</thead>
                    <tbody>
                      <tr *ngFor="let data of GetSaveData;let i = index" style="align-content:center">
                        <td>{{i+1}}</td>
                        <!--<td id="customers" *ngFor="let header of HeaderData" style="align-content:center">{{data[header]}}</td>-->
                        <td>{{data.testimonialname}}</td>
                        <td>{{data.testimonial}}</td>
                        <!--<td><a href="{{data.imagename}}" download>Download</a></td>-->
                        <td>
                          <a *ngIf="checklink == true">N/A</a>
                          <a *ngIf="checklink == false" href="{{data.imagename}}" download>Download</a>
                        </td>


                        <td><span><a class="fa fa-edit" style="font-size:22px;cursor:pointer;align-content:center" (click)="EditData(i,data['soppropid']);"></a></span></td>
                        <td><span><a class="fa fa-trash" style="font-size:22px;cursor:pointer;align-content:center" (click)="DeleteData(i,data['soppropid']);"></a></span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Content Wrapper END -->




    </div>
  </div>
  </div>



