<div class="app">
  <div class="layout">



    <!-- Page Container START -->
    <div class="page-container">


      <!-- Content Wrapper START -->
      <div class="main-content">
        <div class="page-header no-gutters has-tab">
          <h2 class="font-weight-normal">Personal Essay</h2>

        </div>
        <div class="container">

          <div class="card">

            <!-- Calnder -->
            <!-- Ends here -->
            <div class="card-body">

              <form>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label class="font-weight-semibold" for="intar">Class</label>
                    <select id="Class" class="form-control" [(ngModel)]="SelectedClass" name="cls" (change)="Bindsubject();" [ngModelOptions]="{standalone: true}">
                      <option value="0" selected>--Select Class--</option>
                      <option *ngFor="let class of ClassData" value={{class.class_id}}>
                        {{class.class_name}}
                      </option>
                    </select>
                  </div>


                  <div class="form-group col-md-3">
                    <label class="font-weight-semibold" for="intar">Subject</label>
                    <select id="Class" class="form-control" [(ngModel)]="selectedsubject" [ngModelOptions]="{standalone: true}">
                      <option value="0" selected>--Select Subject--</option>
                      <option *ngFor="let subject of subjectdata" value={{subject.subject_id}}>
                        {{subject.subjectname}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label class="font-weight-semibold" for="dob">Link</label>
                    <input type="text" class="form-control" id="videolnk" [(ngModel)]="SelectedVideo" [ngModelOptions]="{standalone: true}" placeholder="Enter Link">

                    <!--<label class="font-weight-semibold" for="language">Upload Video</label>
                  <input type="File" class="form-control" id="Video" [(ngModel)]="SelectedVideo" name="vid" placeholder="Upload Video" (change)="GetVideoDetail($event)">-->
                  </div>

                  <div class="form-group col-md-3">
                    <label class="font-weight-semibold" for="language">Upload File</label>
                    <!--<ejs-uploader id='fileupload' [autoUpload]='false' multiple='false' (selected)="GetPdfDetail($event)"></ejs-uploader>-->

                    <input #inputfile type="File" class="form-control" id="Image" [(ngModel)]="SelectedImage" name="img" placeholder="Upload Pdf" (change)="GetPdfDetail($event)">
                  </div>




                </div>
                <input type="button" class="btn btn-warning m-r-5" value="{{ButtonText}}" style="cursor:pointer" (click)="onSave();">
                <input type="button" class="btn btn-warning m-r-5" value="Reset" style="cursor:pointer" (click)="onClear();">

              </form>
              <div class="m-t-25">
                <div class="table-responsive">
                  <table id="data-table" class="table">
                    <thead>
                      <tr>
                        <th>SNo.</th>
                        <!--<th id="customers" style="align-content:center" *ngFor="let header of HeaderData;let i=index;">{{header}}</th>-->


                        <th>Class</th>
                        <th>Subject</th>
                        <th>Link</th>
                        <th>Edit</th>
                        <th>Delete</th>

                    </thead>
                    <tbody>
                      <tr *ngFor="let data of GetSaveData;let i = index" style="align-content:center">
                        <td>{{i+1}}</td>
                        <!--<td id="customers" *ngFor="let header of HeaderData" style="align-content:center">{{data[header]}}</td>-->

                        <td>{{data.ClassnName}}</td>
                        <td>{{data.SubjectName}}</td>
                        <td>{{data.Video}}</td>

                        <!--<td>


                          <button (click)="handleButtonClick(data.Video)" data-toggle="modal" data-target="#myModal">Play</button>


                          
                        </td>-->


                        <td><span><a class="fa fa-edit" style="font-size:22px;cursor:pointer;align-content:center" (click)="EditData(i,data['personalessayid']);"></a></span></td>
                        <td><span><a class="fa fa-trash" style="font-size:22px;cursor:pointer;align-content:center" (click)="DeleteData(i,data['personalessayid']);"></a></span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Content Wrapper END -->
      <!-- Footer START -->
      <footer class="footer">
        <div class="footer-content">
          <p class="m-b-0">Copyright © 2019 Theme_Nate. All rights reserved.</p>
          <span>
            <a href="#" class="text-gray m-r-15">Term &amp; Conditions</a>
            <a href="#" class="text-gray">Privacy &amp; Policy</a>
          </span>
        </div>
      </footer>
      <!-- Footer END -->

    </div>
    <!-- Page Container END -->
    <!-- Search Start-->
    <div class="modal modal-left fade search" id="search-drawer">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-between align-items-center">
            <h5 class="modal-title">Search</h5>
            <button type="button" class="close" data-dismiss="modal">
              <i class="anticon anticon-close"></i>
            </button>
          </div>
          <div class="modal-body scrollable">
            <div class="input-affix">
              <i class="prefix-icon anticon anticon-search"></i>
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <div class="m-t-30">
              <h5 class="m-b-20">Files</h5>
              <div class="d-flex m-b-30">
                <div class="avatar avatar-cyan avatar-icon">
                  <i class="anticon anticon-file-excel"></i>
                </div>
                <div class="m-l-15">
                  <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Quater Report.exl</a>
                  <p class="m-b-0 text-muted font-size-13">by Finance</p>
                </div>
              </div>
              <div class="d-flex m-b-30">
                <div class="avatar avatar-blue avatar-icon">
                  <i class="anticon anticon-file-word"></i>
                </div>
                <div class="m-l-15">
                  <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Documentaion.docx</a>
                  <p class="m-b-0 text-muted font-size-13">by Developers</p>
                </div>
              </div>
              <div class="d-flex m-b-30">
                <div class="avatar avatar-purple avatar-icon">
                  <i class="anticon anticon-file-text"></i>
                </div>
                <div class="m-l-15">
                  <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Recipe.txt</a>
                  <p class="m-b-0 text-muted font-size-13">by The Chef</p>
                </div>
              </div>
              <div class="d-flex m-b-30">
                <div class="avatar avatar-red avatar-icon">
                  <i class="anticon anticon-file-pdf"></i>
                </div>
                <div class="m-l-15">
                  <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Project Requirement.pdf</a>
                  <p class="m-b-0 text-muted font-size-13">by Project Manager</p>
                </div>
              </div>
            </div>
            <div class="m-t-30">
              <h5 class="m-b-20">Members</h5>
              <div class="d-flex m-b-30">
                <div class="avatar avatar-image">

                  <img src="../../../../assets/statichtml/images/avatars/thumb-1.jpg" alt="" />
                  <!--<img src="assets/images/avatars/thumb-1.jpg" alt="">-->
                </div>
                <div class="m-l-15">
                  <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Erin Gonzales</a>
                  <p class="m-b-0 text-muted font-size-13">UI/UX Designer</p>
                </div>
              </div>
              <div class="d-flex m-b-30">
                <div class="avatar avatar-image">

                  <img src="../../../../assets/statichtml/images/avatars/thumb-2.jpg" alt="" />
                  <!--<img src="assets/images/avatars/thumb-2.jpg" alt="">-->
                </div>
                <div class="m-l-15">
                  <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Darryl Day</a>
                  <p class="m-b-0 text-muted font-size-13">Software Engineer</p>
                </div>
              </div>
              <div class="d-flex m-b-30">
                <div class="avatar avatar-image">
                  <img src="../../../../assets/statichtml/images/avatars/thumb-3.jpg" alt="" />

                  <!--<img src="assets/images/avatars/thumb-3.jpg" alt="">-->
                </div>
                <div class="m-l-15">
                  <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">Marshall Nichols</a>
                  <p class="m-b-0 text-muted font-size-13">Data Analyst</p>
                </div>
              </div>
            </div>
            <div class="m-t-30">
              <h5 class="m-b-20">News</h5>
              <div class="d-flex m-b-30">
                <div class="avatar avatar-image">
                  <!--<img src="assets/images/others/img-1.jpg" alt="">-->
                </div>
                <div class="m-l-15">
                  <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">5 Best Handwriting Fonts</a>
                  <p class="m-b-0 text-muted font-size-13">
                    <i class="anticon anticon-clock-circle"></i>
                    <span class="m-l-5">25 Nov 2018</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Search End-->
    <!-- Quick View START -->
    <div class="modal modal-right fade quick-view" id="quick-view">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-between align-items-center">
            <h5 class="modal-title">Theme Config</h5>
          </div>
          <div class="modal-body scrollable">
            <div class="m-b-30">
              <h5 class="m-b-0">Header Color</h5>
              <p>Config header background color</p>
              <div class="theme-configurator d-flex m-t-10">
                <div class="radio">
                  <input id="header-default" name="header-theme" type="radio" checked value="default">
                  <label for="header-default"></label>
                </div>
                <div class="radio">
                  <input id="header-primary" name="header-theme" type="radio" value="primary">
                  <label for="header-primary"></label>
                </div>
                <div class="radio">
                  <input id="header-success" name="header-theme" type="radio" value="success">
                  <label for="header-success"></label>
                </div>
                <div class="radio">
                  <input id="header-secondary" name="header-theme" type="radio" value="secondary">
                  <label for="header-secondary"></label>
                </div>
                <div class="radio">
                  <input id="header-danger" name="header-theme" type="radio" value="danger">
                  <label for="header-danger"></label>
                </div>
              </div>
            </div>
            <hr>
            <div>
              <h5 class="m-b-0">Side Nav Dark</h5>
              <p>Change Side Nav to dark</p>
              <div class="switch d-inline">
                <input type="checkbox" name="side-nav-theme-toogle" id="side-nav-theme-toogle">
                <label for="side-nav-theme-toogle"></label>
              </div>
            </div>
            <hr>
            <div>
              <h5 class="m-b-0">Folded Menu</h5>
              <p>Toggle Folded Menu</p>
              <div class="switch d-inline">
                <input type="checkbox" name="side-nav-fold-toogle" id="side-nav-fold-toogle">
                <label for="side-nav-fold-toogle"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Quick View END -->
    <!-- modal pop up for video start -->
    <!--<div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="top-image" [innerHTML]="yt | safe:'html'"></div>

          <br>

          <div #myDiv></div>


          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>-->

    <!-- modal pop up for video end -->



  </div>
</div>


<!-- Core Vendors JS -->
<!--<script src="assets/js/vendors.min.js"></script>-->

<!-- page js -->
<!-- Core JS -->
<!--<script src="assets/js/app.min.js"></script>
<script src="assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>-->
