<div class="app">
  <div class="layout">

    <div class="page-container">


      <!-- Content Wrapper START -->
      <div class="main-content">
        <div class="page-header no-gutters has-tab">
          <h2 class="font-weight-normal">Product Wise Coupon</h2>

        </div>
        <div class="container">

          <div class="card">

            <!-- Calnder -->
            <!-- Ends here -->
            <div class="card-body">
              <div class="row">

              </div>
              <form>
                <div class="form-row main-custom">


                  <div class="form-group col-md-4">
                    <label class="font-weight-semibold" for="catagory">Product</label>
                    <select id="Catagory" class="form-control" [(ngModel)]="selectproduct" name="topic" [ngModelOptions]="{standalone: true}">
                      <option value="0" selected>--Select Category--</option>
                      <option *ngFor="let product of Products" value={{product.productid}}>
                        {{product.productname}}
                      </option>
                    </select>
                  </div>


                 

                  <div class="form-group col-md-4">
                    <div class="bg-color">
                      <label class="font-weight-semibold">Select Coupon</label>
                      <ul class="list_brdr">
                        <span class="checkAll">
                          <li>
                            <input type="checkbox"
                                   name="CouponSelected"
                                   id="select-all3"
                                   [(ngModel)]="AllCoupon"
                                   (change)="SelectAllCoupon();"
                                   [ngModelOptions]="{standalone: true}">&nbsp;Select All Coupons
                          </li>
                        </span>
                        <span class="all_lists">
                          <li *ngFor="let Coupon of CouponData">
                            <input type="checkbox"
                                   class="city_check"
                                   name="CouponSelected"
                                   value="{{ Coupon.Couponid }}"
                                   [(ngModel)]="Coupon.selected"
                                   (change)="getSelectedCoupon();"
                                   [ngModelOptions]="{standalone: true}">{{ Coupon.Couponname }}
                          </li>
                        </span>
                      </ul>
                    </div>
                  </div>
>

                 
               
                



                </div>
                <input type="button" class="btn btn-warning m-r-5" value="{{ButtonText}}" style="cursor:pointer" (click)="onSubmit();">
                <input type="button" class="btn btn-warning m-r-5" value="Reset" style="cursor:pointer" (click)="onClear();">






              </form>
              <div class="table-responsive m-t-25">
                <table id="data-table" class="table">
                  <thead>
                    <tr>
                      <th>SNo.</th>

                      <th>Product Name</th>
                      <th>Coupon Name</th>
                     
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of GetSaveData;let i = index" style="align-content:center">
                      <td>{{i+1}}</td>
                      <td>{{data.product}}</td>
                      <td>{{data.Couponname}}</td>
                      
                      <td><span><a class="fa fa-edit" style="font-size:22px;cursor:pointer;align-content:center" (click)="EditData(i,data['regid']);"></a></span></td>
                      <td><span><a class="fa fa-trash" style="font-size:22px;cursor:pointer;align-content:center" (click)="DeleteData(i,data['regid']);"></a></span></td>
                    </tr>
                  </tbody>
                </table>


              </div>
            </div>
          </div>
        </div>
      </div>


    </div>





  </div>
</div>
